<style type="text/css">
   .task {
   	background-color: #34495E;
   	border-radius: 4px;
   	padding: 10px;
   	margin-top: 10px;
   	color: white;
   	-webkit-transition: all .2s ease-in-out;
 	  -moz-transition: all .2s ease-in-out;
   }

   .task:hover {
   	background-color: #2C3E50;
   }

   .completed {
    background-color: rgba(58, 59, 60, 0.15);
   }

   .tag-field {
    display: block;
   }

   .add {
   	margin-top: 10px;
   }

   .bignum {
    display: inline-block;
   	font-size: 60px;
   	font-weight: 800;
   }

   .bignum.first {
    clear: left;
   }

   .tag {
    /*display: block;*/
    /*margin-left: 1em;*/
    font-variant: small-caps;
    /*padding: 2px;*/
    /*background: #999;*/
    /*-webkit-border-radius: 3px;*/
   }

   .display-task {
    margin: 15px auto;
    width: 90%;
   }

   .muted {
    display: inline;
   }

   .start-btn {
    -webkit-transition: all .2s ease-in-out;
    padding: 10px;
    margin: 5px;
   }

   .complete-btn, .delete-btn {
    padding: 10px;
    margin: 5px;
    /*position: relative;*/
    /*bottom: 10px;*/
   }

   .on-track {
    background: #2ecc71;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-border-radius: 4px;
   }

   .off-track {
    background: #e74c3c;
    -webkit-border-radius: 4px;
   }
</style>

<script>

  $(document).ready(function() {

    function reset_timer(start_btn, timer_id) {
      clearInterval(timer_id);
      start_btn.html(start_btn.html().split(':')[0])
      start_btn.removeClass('start-btn')
               .removeClass('on-track')
               .removeClass('off-track')
               .after('<div class="muted">minutes</div>');
    }

    // $('.estimate').html(function() {
    //   return parseInt($(this).siblings('.guess').html(),10) + Math.round(Math.random() * 10);
    // });

    $('.delete-btn').click(function() {
      var task_id = $(this).parent().data('tid');
      var user_id = $(this).parent().data('uid');
      $.ajax({
        type: 'DELETE',
        url: '/users/' + user_id + '/tasks/' + task_id,
        data: {},
        success: function() {
          console.log('Task deleted');
        }
      })
    })

    $('.start-btn').click(function() {
      $(this).html('0:00')
        .addClass('bignum')
        .addClass('on-track')
        .removeClass('btn')
        .removeClass('btn-success')
        .after('<div class="label">elapsed time</div>');

      var start = new Date;
      var btn = $(this)
      var changed = false;

      var my_timer = setInterval(function() {
        var cur_sec = Math.round((new Date - start) / 1000);
        var cur_min = 0;
        while (cur_sec >= 60) {
          cur_min += 1;
          cur_sec -= 60;
        }

        if (!changed && cur_min >= btn.siblings('.guess').html()) {
          btn.addClass('off-track')
             .removeClass('on-track');
          changed = true;
        }

        btn.html(cur_min + ':' + (cur_sec < 10 ? '0' : '') + cur_sec);      
      }, 1000);

      $(this).data('timer-id', my_timer)

      $.ajax({
        type: 'POST',
        data: {},
        url: $(this).data('url'),
        success: function() {
          console.log('Task started');
        }
      })
    })

    $('.complete-btn').click(function() {
      $(this).parent().parent().addClass('completed')
      reset_timer($(this).siblings('.start-btn'), $(this).siblings('.start-btn').data('timer-id'));
      $.ajax({
        type: 'POST',
        data: {'time_elapsed': 5},
        url: $(this).data('url'),
        success: function() {
          console.log('Task completed');
        }
      })
    })
  });
</script>

<% @tasks.each do |t| %>
  <div class="row" data-url="<%= edit_user_task_path(current_user, t) %>">
    <div class="container">
      <div class="task row-fluid display-task">
        <div class="span" data-tid="<%= t.id %>" data-uid="<%= current_user.id %>">
          <div class="description"><%= t.description %></div>
          <div class="tag-field">Tags: <span class="tag label"><%= t.tag %></span></div>
          <div class="bignum guess"><%= t.duration %></div>
          <div class="muted">minutes</div>
          <div class="label">your guess</div>
          <div class="bignum estimate"><%= t.estimated_time or t.duration %></div>
          <!-- <div class="bignum estimate"></div> -->
          <div class="muted">minutes</div>
          <div class="label">our estimate</div>
          <div class="btn btn-success start-btn" data-url="<%= start_user_task_path(current_user, t) %>">Start &#x25B6;</div>
          <div class="btn btn-info complete-btn" data-url="<%= finish_user_task_path(current_user, t) %>">Complete</div>
          <div class="btn btn-danger delete-btn">x</div>
        </div>
      </div>
    </div>
  </div>
<% end %>




