<style type="text/css">
   .task {
   	background-color: #34495E;
   	border-radius: 4px;
   	padding: 10px;
   	margin-top: 10px;
   	color: white;
   	-webkit-transition: all .2s ease-in-out;
 	-moz-transition: all .2s ease-in-out;
   }

   .task:hover {
   	background-color: #2C3E50;
   }

   .add {
   	margin-top: 10px;
   }

   .bignum {
   	font-size: 60px;
   	font-weight: 800;
   }

   .delete-btn {
    padding: 1px;
   }
</style>

<script>
  $(document).ready(function() {
    $('.delete-btn').click(function() {
      var task_id = $(this).parent().data('tid');
      var user_id = $(this).parent().data('uid');
      $.ajax({
        type: 'DELETE',
        url: '/users/' + user_id + '/tasks/' + task_id,
        data: {},
        success: function() {
          console.log('Task deleted');
        }
      })
    })
  });
</script>

<% @tasks.each do |t| %>
  <div class="row" data-url="<%= edit_user_task_path(current_user, t) %>">
    <div class="container">
      <div class="task row-fluid" id="display-task">
        <div class="span" data-tid="<%= t.id %>" data-uid="<%= current_user.id %>">
          <div class="description"><%= t.description %></div>
          <div class="tag"><%= t.tag %></div>
          <div class="bignum guess"><%= t.duration %></div>
          <div class="label">minutes</div>
          <div class="label">your guess</div>
          <div class="start-btn"></div>
          <div class="btn btn-danger delete-btn">x</div>
        </div>
      </div>
    </div>
  </div>
<% end %>




