<!DOCTYPE html>
<html>
<head>
  <title>YHack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless @homepage %>
    <header class="navbar navbar-fixed-top" id="">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
  <% end %>

<%= yield %>

</body>
</html>
